*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
#contactStyling{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    font-family: Poppins;
  }
  
  .contactContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../Images/backgroundSign.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item{
    width: 100%;
    height: 510px;
    max-width: 900px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    z-index:50;
    margin-right: 300px;  }
  
  .contact{
    background: #ffffff;
  }
  
  .submitForm{
    background: linear-gradient(45deg,#0d1117,#0c25a0,#037ef8,#00d9ff);
  }
  .first-text{
    color: #ffffff;
    padding-left: 20px;
    font-size: 35px;
    color:#040439;
    font-weight: 600;
  }
  
  .controller-img{
    height: 300px;
    width: 350px;
    border-radius: 50px;
    padding-left: 20px;
  }
  
  .socialBody{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    color: transparent;
    transition: all 0.3s ease-out;
  }
  
  @media (max-width:1200px) {
    .contactContainer{
      padding-left: 20px;
    }
  }
  
  @media (max-width:800px) {
    .item{
      grid-template-columns: none;
      max-width: 600px;
     
    }
    .submitForm{
      display:flex;
    }
  
    .contact {
      display: none;
    }
  }
  
  @media (max-width:1200px) {
    .contactContainer{
      padding-right: 80px;
    }
  }
  .socialLinks{
    padding-left: 20px
  }
  
  .BtnSocial{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  }
  
  
  .signSocial{
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signSocial img{
    width: 25px;
  }
  
  .signSocial img{
    fill: white;
  }
  
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
    text-decoration: none;
  }
  
  .BtnSocial:hover {
    width: 170px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .BtnSocial:hover .signSocial {
    width: 30%;
    transition-duration: .3s;
    padding-left: 80px;
  }
  
  .BtnSocial:hover .text {
    opacity: 1;
    width: 75%;
    transition-duration: .3s;
    padding-right: 40px;
  }
  
  .BtnSocial:active {
    transform: translate(2px ,2px);
  }
  
  .secondText{
    font-weight: 500;
    font-size: 20px;
    color: #040439;
    padding-left: 5px;
  }
  
  .thirdText{
    font-size: 25px;
    position: relative;
    top: 10px;
    left: 20px;
    padding-top: 10px;
    color: #ffffff;
  }
  
  .formStyling{
    padding: 0 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
  }
  
  .input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color:#ffffff;
    font-size: 16px;
  }
  
  .input-box label{
    position: absolute;
    top:50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .input-box .input:focus ~ label,
  .input-box .input:read-only ~ label,
  .input-box .input:valid ~ label{
    top: -10px;
    left: 10px;
    background: transparent;
    font-weight: 500;
    font-size:12px;
    padding: 5px;
  }
  
  textarea.input{
    resize: none;
    height: 150px;
    overflow: auto;
  }
  .btnSubmit{
    position: relative;
    top: 100px;
    background: #ffffff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 30%;
    font-size: 16px;
    color: #8f50ec;
    cursor: pointer;
    font-weight: 500;
  }
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    position: relative;
    margin: 0;
    padding-right: 50px;
    float: right;
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration:none;
  }
  
  .navbar li {
    position:relative ;
   
  }
  
  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }
  
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-family: poppins;
    color: #fff;
    font-size: 18px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-decoration: none;
    z-index: 1000;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #e43c5c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    width: 260px;
    left: -200px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(to right, #00e77f,#06ffc5);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
    
    .navbar .dropdown ul li {
      min-width: 230px;
      min-height: 50px;
    }
    
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 20px;
      text-transform: none;
      justify-content: center;
      font-family:Wix Madefor Display;
      color: #000000;
    }
    
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
    
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: #e43c5c;
    }
    
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
    
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
    
    @media (max-width: 1366px) {
      .navbar .dropdown .dropdown ul {
        left: -90%;
      }
    
      .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
      }
    }
  
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    position: absolute; 
    right: 10px;
    padding-right:20px;
    color: #007d96;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width:2100px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  @media (max-width:1220px) {
    .buttnStyl{
      top: 70px;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: visible;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 37, 38, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile>ul>li {
    padding: 0;
  }
  
  .navbar-mobile a:hover:before,
  .navbar-mobile li:hover>a:before,
  .navbar-mobile .active:before {
    visibility: hidden;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #493c3e;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #e43c5c;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #e43c5c;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  /* End of mobile */